            html, body {
                height: 100%;
            }

            body {
                margin-top: 3%;
                width: 100%;
                font-weight: 100;
                
              
            }
			.text {
				width:650px;
			}
			textarea{
				width: 840px;
				height:300px;
			}
			table, th, td {
				padding:5px;
				border-collapse: collapse;
			    border-top: 1px solid black;
			    
			    background: #fff;
			    text-indent: 0.01px;
			}
			.color{
				background: #E1E1E1;
				padding-left : 15px;
			}
button {
	    cursor: pointer;
}
.bo_btn {
	margin-top: 15px;
    width: 80px;
    color: black;
    background-color: #fff;
    border: 1px solid black;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px !important;
}
.bo_btn:hover, .boxone_btn:active {
    color: #fff;
    background-color: #E1E1E1;
    border-color: #E1E1E1;
}
#btn_left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0;
}
#btn_right {
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: -4px;
}
