			body {
			    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			    font-size: 14px;
			    line-height: 1.42857143;
			    color: #333;
			    background-color: #fff;
			}
			.content{
						/* width: 45%; */	
				margin: 100px auto;
				padding-top: 6px;
			    border-top: 1px solid #f15a63;
			}
			.margin{
				margin-top: 20px; 
			}
			
			.line{
				border-collapse: collapse;
				border-bottom: 1px solid #D3D3D3;
			}
			td{
				padding: 20px;
			}
			.ad_board_title {
			    padding-top: 30px;
			    padding-bottom: 30px;
			    font-size: 12px;
			    text-align: left;
			    /*width: 100%;*/
			    }
			#ad_board_wrap {
				/* width: 45%; */
				max-width: 1025px; /* 브라우저 창에 맞게 조절  */
			    padding-left: 8px;
			    padding-right: 8px;
			    border-top: none;
			    /* margin-top: 0; */
			   margin: 0 auto; /* 가운데 정렬  */
			}
			.ad_pc {
			    padding-top: 30px;
			    padding-bottom: 30px;
			    font-size: 12px;
			    width: 150px;
			    text-align: center;
			}
			.ad_img {
			
			    width: 150px;
			    text-align: center;
			}
			.ad_num {
			    padding-top: 30px;
			    padding-bottom: 30px;
			    font-size: 12px;
			    width: 50px;
			    text-align: center;
			}
			
			.title {
			    width: 100%;
			}
			.title tr{
				padding-bottom: 16px;
			    border-bottom: 1px solid #ddd;
			    width: 100%;
				
			}
			.title tr:first-of-type{
				border-bottom: 1px solid #f15a63;
			}
			.bo_btn {
				float: right;
				margin-top: 15px;
			    width: 80px;
			    color: black;
			    background-color: #fff;
			    border: 1px solid black;
			    padding-top: 7px;
			    padding-bottom: 7px;
			    border-radius: 25px !important;
			}
			.bo_btn:hover, .boxone_btn:active {
			    color: #fff;
			    background-color: #E1E1E1;
			    border-color: #E1E1E1;
			}
			.menu_nav{
				width: 1025px;
				margin-right: auto;
				margin-left: auto;
				/* background-color: lightyellow; */				
			}

			.header_hr {
			    border-top: 3px solid #ddd;
			}
			.header_hr2 {
			    margin-top: 8px;
			    margin-bottom: 16px;
			    border-top: 1px solid #ddd;
			}
			.inner {
			    max-width: 1024px;
			    margin: 0 auto;
			    padding-left: 8px;
			    padding-right: 8px;
			}
			.img_logo{
				margin-top: 30px;
				margin-bottom: 30px;
				width: 240px;
				
			}
			.center{	
				max-width:1025px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				
			}
			
			
#toTop
{
    z-index:1030;
	width: 100px;
	border: 2px solid #f7f7f7;
	background: #f7f7f7;
	text-align: center;
	position: fixed;
	bottom: 10px;
	right: 340px;
	cursor: pointer;
	display: none;
	color: #333;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 20px;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
	padding: 5px;
}
#toTop:hover
{
	background: #b3b3b3;
	border: 2px solid #b3b3b3;
} 
						
