	.content{
		max-width: 400px;
		width: 400px;
		margin: 200px auto;
		
		 /*padding-top: 10%; */
	}
	td, tr {
		
		padding: 5px !important;

	}
	.title{
		width: 50px;
		text-align: center;
		vertical-align: middle;

	}
	.btn{
		height: 100% !important;
	}
	.tabl_btn{
		padding: 0px 0px 0px 5px !important;
		
	}
	label{
		margin-bottom: 0px !important;
	}
	.img_log{
		width: 80px;
		margin: 20px 0px;
		
	}
	table{
		margin: 0px 10px 10px 10px;
	}
	h3{
		letter-spacing: 5px;
	}
