.header_hr2 {
    margin-top: 8px;
    margin-bottom: 16px;
    border-top: 1px solid #ddd;
}
.center{	
	max-width:1025px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
.img_logo{
	margin-top: 30px;
	margin-bottom: 40px;
	width: 240px;
	
}
#board_wrap {
	/* width: 45%; */
	max-width: 1025px; /* 브라우저 창에 맞게 조절  */
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    border-top: none;
    /* margin-top: 0; */
   margin: 0 auto; /* 가운데 정렬  */
}

.section {
  margin-bottom: 40px;
}


.section__content {
  padding-left: 3px;
}


.card {
  position: relative;
  float: left;
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 25px;
}


/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
          border-radius: 50%;
}

.card__front {
  background-color: #FFFFFF;
}

.card__back {
  background-color: #505050 ;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card__front img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/* card text */
.card__back .card__text {
	vertical-align: middle;
  margin-top: 80px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* random effect */
.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}



.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
}

