	body {
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #333;
	    background-color: #fff;
	}
	table {
    display: table;
    border-collapse: separate;
	}
	.notify_wrap{
		max-width: 1025px;
		margin-left: auto;
		margin-right: auto;
	}
	.header_hr2 {
	    margin-top: 8px;
	    margin-bottom: 16px;
	    border-top: 1px solid #ddd;
	}
	.header_hr3 {
	    margin-top: 0px;
	    margin-bottom: 16px;
	    border-top: 1px solid #ddd;
	}
	
	
	.img_logo{
		margin-top: 30px;
		margin-bottom: 40px;
		width: 240px;
		
	}
	.bgcolor{
		background-color: #f8f7f7;
	}
	.center{	
		max-width:1025px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		
	}
	#reply_input_table {
	border-bottom: transparent;
	margin-bottom: 0;
	}
	#reply_input_wrap {
	padding: 0x 8px 0px 8px;
	margin-top: 16px;
	background-color: #fff;
	}
	.reply_table {
	width: 100%;
	margin-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #ddd !important;
	font-size: 12px;
	min-height: 72px;
	}
	.reply_profile img{
	width: 64px ;
	}
	.reply_profile {
	width: 73px ;
	vertical-align: top;
	margin-right: 13px;
	}
	.reply_modify_show textarea {
	margin-bottom: 16px;
	float: left;
	resize: none;
	}
	.reply_title {
	font-size: 12px;
	color: #686666;
	font-weight: bold;
	}
	.margin_left{
		margin-left: 10px;
	}
	.reply_title img {
		width: 14px;
		height: 14px;
	}
	.reply_profile img {
		width: 56px;
	    height: 56px;
	    
	    border-radius: 50% !important;
	}
	.reply_writer {
		font-weight: bold;
	}
	.reply_date {
		font-size: 10px;
	}
	.reply_content {
		padding-top: 8px;
		padding-bottom: 16px;
	}
	#reply_wrap {
	background-color: #f8f7f7;
	padding-top: 32px;
	padding-bottom: 32px;
	}
	.input_textarea2 {
		padding-right: 94px;
		padding-left: 1px;
	}
	.input_textarea2 button {
		position: absolute;
	}
	.add_reply2 {
		width: 94px;
		height: 94px;
		border-radius: 0 !important;
		border: 1px solid #ccc;
		border-left: transparent;
		background-color: #fff;
	}
	.add_reply2:hover {
		background-color: #ccc;
	}
	.content{
		width: 1025px;	
		margin: 0 auto;
		padding-top: 6px;
	}
	.bo_color2 {
    color: #8c8b8b;
	}
	.footer_div {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 9px;
	}
	.f_r {
	float: right;
	}
	.f_r {
	float: left;
	} 
	.bo_color {
		color: #8c8b8b;
	}
	.reply_a {
		font-size: 10px;
		text-decoration: underline;
		margin-top: 16px;

	}

