.header_hr2 {
    margin-top: 8px;
    margin-bottom: 16px;
    border-top: 1px solid #ddd;
}
.center{	
	max-width:1025px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
.img_logo{
	margin-top: 30px;
	margin-bottom: 40px;
	width: 240px;
	
}
button{
	margin-top: 50px;
	margin-bottom: 50px;
    width: 80px;
    color: black;
    background-color: #fff;
    border: 1px solid black;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px !important;
}
p{
	margin-top: 30px;
}
#loading{
	margin-top: 30px;
	margin-bottom: 30px;
}


/* ============================================================
  SPINNER - COMMON
============================================================ */
[class="cmn-spinner__radar"] {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: rgba(0, 0, 0, 0);
  font-size: 0;
  text-indent: -99999px;
}

/* ============================================================
  CMN-SPINNER__RADAR
============================================================ */
.cmn-spinner__radar {
  border-top: solid 2px #ff6699;
  border-right: solid 2px transparent;
  border-bottom: solid 2px transparent;
  border-left: solid 2px transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: cmn-spinner--animation__radar 1.5s infinite linear;
  -moz-animation: cmn-spinner--animation__radar 1.5s infinite linear;
  -ms-animation: cmn-spinner--animation__radar 1.5s infinite linear;
  -o-animation: cmn-spinner--animation__radar 1.5s infinite linear;
  animation: cmn-spinner--animation__radar 1.5s infinite linear;
}
.cmn-spinner__radar::before, .cmn-spinner__radar::after {
  display: block;
  position: absolute;
  border-right: solid 2px transparent;
  border-bottom: solid 2px transparent;
  border-left: solid 2px transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  content: "";
}
.cmn-spinner__radar::before {
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  border-top: solid 2px #85e0e0;
  -webkit-animation: cmn-spinner--animation__radar 1.75s infinite linear;
  -moz-animation: cmn-spinner--animation__radar 1.75s infinite linear;
  -ms-animation: cmn-spinner--animation__radar 1.75s infinite linear;
  -o-animation: cmn-spinner--animation__radar 1.75s infinite linear;
  animation: cmn-spinner--animation__radar 1.75s infinite linear;
}
.cmn-spinner__radar::after {
  top: 26px;
  right: 26px;
  bottom: 26px;
  left: 26px;
  border-top: solid 2px #ffe680;
  -webkit-animation: cmn-spinner--animation__radar 2s infinite linear;
  -moz-animation: cmn-spinner--animation__radar 2s infinite linear;
  -ms-animation: cmn-spinner--animation__radar 2s infinite linear;
  -o-animation: cmn-spinner--animation__radar 2s infinite linear;
  animation: cmn-spinner--animation__radar 2s infinite linear;
}

/* animation keyframes */
@-webkit-keyframes cmn-spinner--animation__radar {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cmn-spinner--animation__radar {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes cmn-spinner--animation__radar {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes cmn-spinner--animation__radar {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes cmn-spinner--animation__radar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
